/WorkAutomatorServer/.vs
/WorkAutomatorServer/packages

/WorkAutomatorServer/WorkAutomatorServer/bin
/WorkAutomatorServer/WorkAutomatorServer/obj

/WorkAutomatorServer/WorkAutomatorLogic/bin
/WorkAutomatorServer/WorkAutomatorLogic/obj

/WorkAutomatorServer/WorkAutomatorDataAccess/bin
/WorkAutomatorServer/WorkAutomatorDataAccess/obj

/WorkAutomatorServer/DataAccessTests/bin
/WorkAutomatorServer/DataAccessTests/obj

/WorkAutomatorServer/BusinessLogicTests/bin
/WorkAutomatorServer/BusinessLogicTests/obj

/WorkAutomatorServer/Dto/bin
/WorkAutomatorServer/Dto/obj

/WorkAutomatorServer/Attributes/bin
/WorkAutomatorServer/Attributes/obj

/WorkAutomatorServer/Constants/bin
/WorkAutomatorServer/Constants/obj