<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/main_page.css">
		
		<style>
			.selectedItem:hover {
				outline:3px solid black;
			}
		</style>
	</head>
	<body>
		<nav id="header" class="menu one">
			<custom-header></custom-header>
		</nav>
	
		<div id="pipeline" style="user-select: none;">
			<div>
				<center>
					<img v-bind:src="image_url" id="plan" draggable="false" onload="planLoad()"></img>
					
					<div v-for="pipeline_item of pipeline_items" style="position: absolute;">
						<pipeline_item_visualizer v-bind:pipeline_item="pipeline_item" v-if="pipeline_item.x"></pipeline_item_visualizer>
					</div>
					
					<div v-for="storage_cell of storage_cells" style="position: absolute;">
						<storage_cell_visualizer v-bind:storage_cell="storage_cell" v-if="storage_cell.x"></storage_cell_visualizer>
					</div>
					
					<div v-for="connection of pipeline_item_pipeline_item_connections.concat(pipeline_item_storage_cell_connections)" style="position: absolute; z-index: 2;">
						<connection_visualizer v-bind:connection="connection"></connection_visualizer>
					</div>
				</center>
			</div>
			
			<pipeline_item_settings_window v-bind:pipeline_item="setting_pipeline_item" style="z-index: 3;"></pipeline_item_settings_window>
			<detector_window v-bind:detector="setting_detector" style="z-index: 3;"></detector_window>
			<fault_window v-bind:faults="faults" style="z-index: 4;"></fault_window>
			  
		</div>
		
		
		<script src="../js/libs/jquery.js"></script>
		<script src="../js/libs/vue.js"></script>
		<script src="../js/vue_filters.js"></script>
		<script src="../js/libs/chart.js"></script>
		<script src="../js/libs/sha256.js"></script>
		<script src="../js/cookie.js"></script>
		<script src="../js/localize.js"></script>
		<script src="../js/session.js"></script>
		<script src="../js/role.js"></script>
		<script src="../js/header.js"></script>
		<script src="../js/libs/vue.js"></script>
		<script src="../js/pipeline.js"></script>
		
		<div id="err"><err></err></div>
		<script src="../js/error.js"></script>
	</body>
<html>