<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pipelines List</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/main_page.css">
</head>
<body>
	
	<nav id="header" class="menu one">
		<custom-header></custom-header>
	</nav>
	
	<div id="tasks">
		<center>
			<table>
				<tr v-for="task_chunk of $options.filters.chunk(tasks, 5)">
					<td v-for="task of task_chunk">
						<task_item v-bind:task="task"></task_item>
					</td>
				</tr>
			</table>
		</center>
	</div>
	
	<script src="../js/libs/jquery.js"></script>
	<script src="../js/libs/vue.js"></script>
	<script src="../js/vue_filters.js"></script>
	<script src="../js/libs/sha256.js"></script>
	<script src="../js/cookie.js"></script>
	<script src="../js/localize.js"></script>
	<script src="../js/session.js"></script>
	<script src="../js/role.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/tasks.js"></script>
	
	<div id="err"><err></err></div>
	<script src="../js/error.js"></script>

</body>
</html>